
@{
    ViewData["Title"] = "Index";
}
@*<div class="row">
    <div class="col-md-12">
        <h2>Image convert to PDF using Itextsharp</h2>
        @using (Html.BeginForm("Index", "PintImageFromPDF", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <input type="file" name="files" class="form-control" />
                </div>
                <div class="col-md-8">
                    <input type="submit" id="btnSubmit" value="Convert" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>*@

<form method="post" asp-controller="PintImageFromPDF" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p><h4>Write the image name:</h4></p>
            <input type="text" name="fileName">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <br />
            <input type="submit" value="Convert to PDF">
        </div>
    </div>
</form>


